.footer-section {
  background: #222222;
  padding: 12px;
  /*position: absolute;
  bottom: 0;*/
  /*height: 20px;*/
  width: 100%;
  .copyright {
    color: #fff;
    margin-bottom: 0;
    line-height: normal;
    text-align: center;
  }
}